Курс 1/КЯР/Лаб 12/File(Schema).xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType  name="note">
      <xs:sequence>
         <xs:element name="title" type="xs:string"/>
         <xs:element name="head" type="xs:string"/>
         <xs:element name="text" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>